@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  padding-top: 120px; /* 给时钟腾出空间 */
}

@media (max-width: 768px) {
  body {
    padding-top: 100px; /* 小屏幕上减少 */
  }
}

#clock-time,
#clock-date {
  font-family: 'Share Tech Mono', monospace;
}

#clock-date {
  font-size: 3vw; 
}
@media (min-width: 768px) {
  #clock-date {
    font-size: 60px;
  }
}

/*漸層文字特效*/
.cyber-gradient-text {
  background: linear-gradient(
    90deg, 
    #a855f7 0%,
    #06b6d4 30%,
    #10b981 50%,
    #06b6d4 70%,
    #a855f7 100%
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: cyber-glow-flow 4s linear infinite;
}

.cyber-gradient-dot {
  background: linear-gradient(
    90deg, 
    #a855f7 0%,
    #06b6d4 30%,
    #10b981 50%,
    #06b6d4 70%,
    #a855f7 100%
  );
  background-size: 200% auto;
  animation: cyber-glow-flow 4s linear infinite;
}

@keyframes cyber-glow-flow {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

.switch-container .bg-zinc-950 {
  width: 50%;
  height: 150%;
}

.switch-lever {
  transition: transform 0.3s ease;
}

.hidden {
  display: none;
}

#left-pupil,
#right-pupil {
  transition: all 0.2s ease;
}

#octopus-head {
  transition: fill 0.3s ease;
}

#terminal-text {
  word-break: break-all;
}

/* 媒體查詢優化小屏幕 */
@media (max-width: 640px) {
  .switch-container {
    width: 11%;
  }
}